[Desktop Entry]
Type=Application
Icon=/usr/share/glacier-testtool/icons/glacier-testtool.png
Exec=/usr/bin/glacier-testtool
Name=Hardware test
Name[ru]=Аппаратный тест
Name[pl]=Test sprzętowy
Name[de]=Hardwaretest
Name[cs]=Test hardware
Name[uk]=Hardware test
Name[fi]=Laitteistotesti
